body {
  font-family: Arial, Helvetica, sans-serif;
}
.block {
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
}
.magic {
  flex: 0 0 290px;
  height:290px;
  /* width:290px; */
  border:solid orange;
  background-image: url("https://files.worldwildlife.org/wwfcmsprod/images/African_Elephant_Kenya_112367/story_full_width/qxyqxqjtu_WW187785.jpg");
  background-size:cover;
}
.desc {
  width: auto;
  max-width: calc(100% - 290px);
  height: auto;
  flex: 1;
  overflow-wrap: break-word;
}
/* BIG */
@media screen and (max-width: 1280px) {
  body {
    background-color: rgb(90, 77, 175);
    color: white;
  } 
}

/* Med */
@media screen and (max-width: 980px) {
  body {
    background-color: lemonchiffon;
    color: black;
  }
}

/* small */
@media screen and (max-width: 680px) {
    body {
      background-color: black;
      color: white
    }
}

  /* 480, 880, 1280 */